In [1]:
import pandas as pd

In [3]:
time_sentences = ["Monday: The Doctors appointment is at 2:45pm.",
                 "Tuesday: The dentist appointment is at 11:30 am.",
                 "Thursday: Be back home by 11:15 at the latest.",
                 "Friday: Take the train at 8:10 am, arrive at 9:00 am."]
df = pd.DataFrame(time_sentences, columns = ["text"])
df

                                                text
0      Monday: The Doctors appointment is at 2:45pm.
1   Tuesday: The dentist appointment is at 11:30 am.
2     Thursday: Be back home by 11:15 at the latest.
3  Friday: Take the train at 8:10 am, arrive at 9...

In [4]:
df['text'].str.len()

0    45
1    48
2    46
3    53
Name: text, dtype: int64

In [5]:
df['text'].str.split().str.len()

0     7
1     8
2     9
3    11
Name: text, dtype: int64

In [8]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
Name: text, dtype: bool

In [10]:
df['text'].str.count(r'\d')

0    3
1    4
2    4
3    6
Name: text, dtype: int64

In [12]:
df['text'].str.findall(r'\d')

0             [2, 4, 5]
1          [1, 1, 3, 0]
2          [1, 1, 1, 5]
3    [8, 1, 0, 9, 0, 0]
Name: text, dtype: object

In [14]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0             [(2, 45)]
1            [(11, 30)]
2            [(11, 15)]
3    [(8, 10), (9, 00)]
Name: text, dtype: object

In [17]:
df['text'].str.replace(r'\w+day\b','???')

0           ???: The Doctors appointment is at 2:45pm.
1         ???: The dentist appointment is at 11:30 am.
2            ???: Be back home by 11:15 at the latest.
3    ???: Take the train at 8:10 am, arrive at 9:00...
Name: text, dtype: object

In [19]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0           Mon: The Doctors appointment is at 2:45pm.
1         Tue: The dentist appointment is at 11:30 am.
2            Thu: Be back home by 11:15 at the latest.
3    Fri: Take the train at 8:10 am, arrive at 9:00...
Name: text, dtype: object

In [20]:
df['text'].str.extract(r'(\d?\d):(\d\d)')

/Users/aaryanredkar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1
0   2  45
1  11  30
2  11  15
3   8  10

In [24]:
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
3 0       8:10 am   8  10  am
  1       9:00 am   9  00  am

In [27]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
3 0       8:10 am    8     10     am
  1       9:00 am    9     00     am

In[4]:Shows num of characters for each string in the series.
In[5]:Splits string on whitespace then use str len to fin number of tokens for each element of series.
In[8]:Checks if string has a pattern in EX which string has the word appointment.
In[10]:Can count occurences in a pattern of a series EX How many times a digit ocurrs in a string.
In[12]:To find all ocurrences. 
In[14]:Groups pattern of interest.
In[17]:Replaces any instances of a weekday with 3 question marks.
In[19]:Replaces Weekday name with 3 letter abbreveation.
In[20]:Allows to create new columns using extracting groups.
In[24]:Extracts number of times used am and pm.
In[27]:Name groups in regular expressions by naming them as the column names.